# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Otros
.DS_Store
.idea/
.vscode/
static/
uploads/
storage/

.vite/

# Proyectos específicos del autor
biribiri/
curso-radar-meteo/
backend-flask/